header {
    background-color: #FFFFFF;

    nav {
        padding-bottom: 2rem;

        li {
            font-weight: 500;
        }
    }

    .odam {
        position: absolute;
        right: 180px;
        top: 95px;
    }

    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 1.4rem;
    }

    .btn {
        background-color: #0077C0;
        color: #FFFFFF;
        font-weight: 500;
    }
}

#showcase {
    background-color: #0077C0;
    height: 702px;

    h4 {
        text-align: center;
        padding-top: 4rem;
        color: #FFFFFF;
        font-size: 1rem;
        font-weight: 500;
    }

    h2 {
        text-align: center;
        color: #FFFFFF;
        font-size: 3rem;
        width: 472px;
        margin: auto;
    }

    h3 {
        color: #FFFFFF;
        padding-top: 2.5rem;
        padding-bottom: 0.5rem;
    }

    p {
        font-size: 1rem;
        font-weight: 400;
        color: #FFFFFF;
        width: 356px;
    }

    .icon {
        width: 356px;
        height: 273px;
        margin-top: 5rem;
    }
}

#wakanda {

    ul {
        list-style: none;
        transform: translateX(-25px);
    }

    .ul5 {
        transform: translateX(-19px);
    }

    h3 {
        font-size: 3rem;
        width: 550px;
        height: 150px;
        font-weight: 700;
    }

    .wakan {
        width: 600px;
        height: 400px;
    }
}

#explore {
    background-color: #C7EEFF;
    height: 640px;

    .odam1 {
        position: absolute;
        right: 200px;
        top: 2475px;
    }

    .orqa {
        padding-top: 125px;
    }

    h3 {
        font-size: 3rem;
        width: 500px;
        font-weight: 600;
        color: black;
    }

    p {
        font-size: 1rem;
        width: 500px;
    }

    .rasm {
        position: absolute;
        right: 175px;
        top: 351%;
    }

    .rasm1 {
        position: absolute;
        right: 510px;
        top: 2725px;
    }

    button {
        background-color: #0077C0;
        color: #FFFFFF;
    }
}

#testimoil {
    height: 998px;

    #par {
        color: #0077C0;
        margin: auto;
        text-align: center;
        padding-top: 5rem;
    }

    .card {
        width: 320px;
        height: 320px;
        padding: 1rem;
        box-shadow: 0 0 10px grey;

    }

    .oxirgi {
        display: flex;
        flex-wrap: wrap;
        row-gap: 2rem;
        gap: 2rem;
    }

    h6 {
        transform: translateY(7px);
    }

    h3 {
        font-size: 3rem;
        font-weight: 700;
        width: 550px;
        margin: auto;
        text-align: center;
        padding-top: 1rem;
    }
}

#find {
    padding: 5rem 0;

    .container {
        height: 380px;
        width: 1030px;
        background-color: #0077C0;
        border-radius: 10px;
    }

    button {
        background-color: #FFFFFF;
        color: #0077C0;
    }

    h3 {
        font-size: 3rem;
        width: 500px;
        font-weight: 600;
        color: #FFFFFF;
        padding-top: 1rem;
        padding-bottom: 2rem;

    }

    .qiz {
        transform: translateY(18px);
    }

    h5 {
        color: #FFFFFF;
    }
}